{{ $lang := .Site.Language.Lang }}
{{ $form_url := "" }}
{{ with .Site.Params.newsletter }}
  {{ if eq $lang "en" }}
    {{ $form_url = .en.form_url }}
  {{ else if eq $lang "de" }}
    {{ $form_url = .de.form_url }}
  {{ end }}
{{ end }}
{{ with $form_url }}
<div class="newsletter-label">{{ T "newsletter_title" }}</div>
<div class="newsletter-note">{{ T "newsletter_note" }}</div>
<div class="newsletter-form">
  <iframe src="{{ . }}" frameborder="0" scrolling="auto" allowfullscreen style="display:block;margin:0 auto;max-width:100%;width:540px;height:640px;border:0;"></iframe>
</div>
{{ else }}
<div class="newsletter-error">Newsletter form URL not configured for {{ $lang | upper }}.</div>
{{ end }}
